<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856417063081-6copj7kc8pk8o9pegptivpcpfbsq3e40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856417063081-6copj7kc8pk8o9pegptivpcpfbsq3e40</string>
	<key>API_KEY</key>
	<string>AIzaSyCpnCtxBu44o8g2doA0se61JMH7DNa2jEs</string>
	<key>GCM_SENDER_ID</key>
	<string>856417063081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ma-1101204298-b361b</string>
	<key>STORAGE_BUCKET</key>
	<string>ma-1101204298-b361b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856417063081:ios:02061a4852705e10bb19b8</string>
</dict>
</plist>